body {
  margin: 0;
}

header {
  height: 100px;
  background-color: rgb(1, 148, 233);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
}

h2 {
  color: rgb(1, 148, 233);
}

main {
  margin-left: 40px;
}

li {
  margin-bottom: 10px;
  font-size: 18px;
}

li:nth-child(1),
li:nth-child(5) {
  text-decoration: underline;
  font-weight: bold;
}

table {
  font-size: 18px;
  margin-left: 20px;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
}

thead th {
  background-color: rgb(1, 148, 233);
  color: white;
}

tbody tr:nth-child(odd) th {
  background-color: rgb(138, 208, 255);
}

tbody tr:nth-child(even) th {
  background-color: rgb(88, 188, 255);
}

tbody tr:nth-child(even) td {
  background-color: rgb(138, 208, 255);
}

tbody tr:nth-child(odd) td {
  background-color: rgb(205, 231, 243);
}

tr td[id="descanso"] {
  text-align: center;
}

#descanso {
  text-transform: uppercase;
  font-weight: bold;
}
