* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background: rgb(232, 252, 252);
  --primary: #00adad;
  --button: linear-gradient(0deg, rgb(1, 116, 116) 0%, rgb(95, 253, 253) 100%);
  --shadow: 0 0 3px var(--primary);
}

.ocultar-en-mobile {
  display: none;
}

nav menu {
  list-style: none;
}

/* HEADER */

header {
  box-shadow: 0 0 3px var(--primary);
  color: var(--primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

header h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

header form {
  width: fit-content;
  box-shadow: var(--shadow);
  margin-bottom: 20px;
}

header form label {
  display: none;
}

header form input {
  padding: 0.2rem;
  outline: none;
  border: none;
}

header form button {
  border: none;
  background: var(--button);
  color: white;
  padding: 0.2rem;
  font-weight: bold;
}

header menu {
  width: 150px;
  display: flex;
  justify-content: space-around;
}

header menu a {
  display: inline-block;
  font-size: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
}

header menu a[href*="wishlist"] {
  background-image: url("icons/heart.png");
}

header menu a[href*="cart"] {
  background-image: url("icons/cart.png");
}
header menu a[href*="profile"] {
  background-image: url("icons/user.png");
}

.img-header {
  width: 30px;
  height: 30px;
}

/* NAV*/

body > nav menu a {
  color: var(--primary);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

body > nav menu a:hover {
  background: var(--background);
}

nav[aria-label="categorias"] {
  display: flex;
  justify-content: space-around;
}

nav[aria-label="categorias"] menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* MAIN */

main {
  background: var(--background);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  background: white;
  box-shadow: var(--shadow);
  width: 10rem;
  height: 20rem;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 40px;
}

article img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

article *:not(img) {
  margin: 0.5rem 1rem;
}

article p.price {
  text-align: right;
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

footer a {
  color: var(--primary);
}

@media (min-width: 670px) {
  .ocultar-en-mobile {
    display: initial;
  }

  body {
    display: grid;
    grid-template-columns: 13% 87%;
    grid-template-rows: minmax(50px, auto);

    grid-template-areas:
      "header header"
      "nav main"
      "nav main"
      "footer footer";
  }

  /* HEADER */

  header {
    z-index: 1;
    padding: 0 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
  }

  header form {
    margin-top: 20px;
  }

  /* NAV */

  nav[aria-label="categorias"] {
    grid-area: nav;
  }

  nav[aria-label="categorias"] menu {
    flex-direction: column;
    height: 100px;
    margin-top: 20px;
    margin-left: 10px;
  }

  main {
    grid-area: main;
  }

  article {
    margin-right: 30px;
  }

  footer {
    grid-area: footer;
    justify-content: center;
    margin-bottom: 0px;
  }

  footer a {
    margin-left: 15px;
    margin-right: 15px;
  }

  body > nav {
    padding-top: 1rem;
  }
}
